/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

* {
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 1.2em;
}

body {
  background-color: #DFE6E8;
  color: #636363;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.75em;
  }
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5em;
  }
}

h4 {
  font-weight: 200;
}

p {
  font-size: 1.125em;
}

img {
  max-width: 100%;
}

header {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

header:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
  }
}

.header__logo img:nth-child(1) {
  max-width: 12%;
}

.header__logo img:nth-child(2) {
  margin-top: 0;
}

@media screen and (max-width: 440px) {
  .header__logo img:nth-child(2) {
    width: 70%;
  }
}

@media screen and (min-width: 1220px) {
  .header__logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1218px) {
  .header__logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul li {
  display: block;
  margin-top: 0.2em;
}

nav ul li a {
  text-decoration: none;
  color: #636363;
}

@media screen and (min-width: 480px) {
  nav ul li {
    display: inline-block;
    margin-top: 0;
    margin-left: 1.2em;
  }
}

@media screen and (min-width: 1220px) {
  nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 58.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1218px) {
  nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 41.66667%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  nav ul {
    float: none;
    margin: 0 auto;
  }
}

.hero-img {
  background: url(/story-strong/img/chs-stock-group.jpg) no-repeat center 0px;
  background-size: cover;
  height: 25em;
  max-width: 100%;
}

@media (min-width: 375px) and (max-width: 400px) {
  .hero-img {
    background-image: url(/story-strong/img/chs-stock-group-480.jpg);
    height: 9.375em;
  }
}

@media (min-width: 401px) and (max-width: 640px) {
  .hero-img {
    background-image: url(/story-strong/img/chs-stock-group-640.jpg);
    height: 15.625em;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  .hero-img {
    background-image: url(/story-strong/img/chs-stock-group-1280.jpg);
  }
}

.heading--center {
  width: 100%;
  margin: 0 auto;
}

.heading--center h1 {
  text-align: center;
}

.wrap {
  background-color: #F3F5F7;
  margin-top: 0;
}

.contents {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding-top: 2.4em;
}

.contents:after {
  content: " ";
  display: block;
  clear: both;
}

.row {
  display: inline-table;
  width: 100%;
  max-height: 100%;
}

.col-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.col-3--last {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.section__prim-feature {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
}

.section__prim-feature:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (min-width: 768px) {
  .section__prim-feature {
    height: 18.75em;
  }
}

.section__prim-feature h1 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.section__prim-feature--story {
  height: 17.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

@media screen and (min-width: 620px) {
  .section__prim-feature--story {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

.section__prim-feature--story article {
  margin-top: 1em;
}

.section__prim-feature--story article .btn--sm {
  float: left;
  width: 175px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  color: #636363;
  -moz-box-shadow: 0 2px 4px #95989A;
  -webkit-box-shadow: 0 2px 4px #95989A;
  box-shadow: 0 2px 4px #95989A;
}

@media screen and (min-width: 768px) {
  .section__prim-feature--story article .btn--sm {
    float: right;
  }
}

.section__prim-feature--story article .btn--sm p {
  font-size: 1em;
  padding: 2.5%;
}

.section__prim-feature--img {
  float: left;
  height: 14.0625em;
  width: 100%;
  clear: both;
  text-align: center;
}

@media screen and (min-width: 620px) {
  .section__prim-feature--img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    clear: none;
  }
}

.section__prim-feature--img img {
  border-radius: 100px;
}

.section__sec-feature {
  position: relative;
  z-index: 1;
  background-color: #F3F5F7;
}

.section__sec-feature:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.section__sec-feature:before {
  top: 0;
  transform: skewY(1.25deg);
  transform-origin: 100% 0;
}

.section__sec-feature h2 {
  text-align: center;
  padding-top: 0.6em;
}

.section__sec-feature--tiles {
  background-color: #F3F5F7;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.2em;
}

.section__sec-feature--tiles:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (max-width: 890px) {
  .story-tile .row:nth-child(1) {
    text-align: center;
  }
}

.story-tile {
  display: block;
  background-color: #FFFFFF;
  -moz-box-shadow: 0 2px 4px #DFE6E8;
  -webkit-box-shadow: 0 2px 4px #DFE6E8;
  box-shadow: 0 2px 4px #DFE6E8;
  padding: 2.5%;
}

@media screen and (min-width: 890px) {
  .story-tile {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 21.875em;
    -moz-box-shadow: 0 2px 4px #DFE6E8;
    -webkit-box-shadow: 0 2px 4px #DFE6E8;
    box-shadow: 0 2px 4px #DFE6E8;
    margin: 0.83333%;
    padding: 1.66667%;
  }
}

@media screen and (max-width: 889px) {
  .story-tile {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

.story-tile h3 {
  float: left;
  width: 100%;
}

@media screen and (min-width: 890px) {
  .story-tile h3 {
    max-width: 70%;
  }
}

.story-tile h4 {
  color: #95989A;
}

.story-tile img {
  float: none;
  margin: 0 auto;
  background-size: cover;
  border-radius: 100px;
  height: 6.25em;
  margin-top: 2.5%;
}

@media screen and (min-width: 890px) {
  .story-tile img {
    float: left;
    margin: 2.5%;
  }
}

.story-tile .row:nth-child(2) {
  min-height: 45%;
}

.story-tile .row:nth-child(3) {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .story-tile .row:nth-child(3) {
    margin-top: 1.2em;
  }
}

.story-tile .btn--sm {
  float: left;
  width: 175px;
  background-color: #636363;
  text-align: center;
  border-radius: 10px;
  color: #FFFFFF;
  -moz-box-shadow: 0 2px 4px #95989A;
  -webkit-box-shadow: 0 2px 4px #95989A;
  box-shadow: 0 2px 4px #95989A;
}

@media screen and (min-width: 768px) {
  .story-tile .btn--sm {
    float: right;
  }
}

.story-tile .btn--sm p {
  font-size: 1em;
  padding: 2.5%;
}

footer {
  height: 6.25em;
  margin-top: 0em;
  background-color: #FFFFFF;
  border-top: 5px solid #636363;
  clear: both;
}

.footer__inner {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.footer__inner:after {
  content: " ";
  display: block;
  clear: both;
}

/*@import "components/index";*/

/*# sourceMappingURL=maps/main.css.map */
