---
layout: default
title: Student Stories
---

{% assign primFeaturePost = site.posts | where: "prim-featured", true %}
{% assign secFeaturedPost = site.posts | where: "sec-featured", true %}

<section class="section__prim-feature">
  <h1>Students Respond: "What's Shaped You?"</h1>
  <div class="section__prim-feature--story">
    {% for p in primFeaturePost %}
    <article>
      <h2>{{ p.title }}</h2>
      <h3>{{ p.author }}</h3>
      <p>{{ p.summary }}</p>
      <div class="btn--sm">
        <a href="{{ site.baseurl }}{{ p.url }}">
          <p>{{ p.btn }}</p>
        </a>
      </div>
    </article>
    </div>
    <div class="section__prim-feature--img">
      <img src="{{ p.prof-img }}">
  </div>
  {% endfor %}
</section>

<section class="angle-before">
  <div class="full--stnd-padding full--stnd-padding-flex">
    <div class="h-center h-center--btm-padding">
      <h3>Read other students’ responses to “What’s Shaped You?”</h3>
    </div>
    {% for q in secFeaturedPost %}
    <article class="story-tile">
      <section class="row">
        <div class="story-tile__img">
          <img src="{{ q.prof-img }}">
        </div>
        <h3>{{ q.title }}</h3>
        <h4>{{ q.author }}</h4>
        <p>{{ q.summary }}</p>
        <div class="btn--sm">
          <a href="{{ site.baseurl}}{{ q.url }}">
            <p>{{ q.btn }}</p>
          </a>
        </div>
      </section>
    </article>
    {% endfor %}
    <div class="btn--read-more">
      <a href="/story-strong/current-stories/">
        <p>View all StoryStrong student stories</p>
      </a>
    </div>
  </div>
</section>