<footer>
	<section class="footer__inner">
    <div class="footer__site-links">
  	  <ul>
       <li><a href="http://www.hcpss.org/">Contact</a></li> 
       <li><a href="http://www.hcpss.org/">Site Terms</a></li>
       <li><a href="http://www.hcpss.org/" target="_blank">Visit hcpss.org</a></li>
      </ul>
    </div>
    <div class="footer__social-media">
      <ul>
        <li><a href="https://www.twitter.com/"><img src="/story-strong/img/twitter-no-bg.png" alt="Social media icon: Twitter"></a></li>
        <li><a href=""><img src="/story-strong/img/fb-no-bg.png" alt="Social media icon: Facebook"></a></li>
        <li><a href=""><img src="/story-strong/img/insta-no-bg.png" alt="Social media icon: Instagram"></i></a></li>
      </ul>
    </div>
	</section>
</footer>