<header>
	<div class="header__logo">
    <a href="/story-strong/">
      <img src="/story-strong/img/hcpss-logo-circle.png" alt="Graphic: Howard County Public School System logo">
			<img src="/story-strong/img/storystrong-logo-dark.png" alt="Graphic with text: Story Strong">
    </a>
	</div>

  <nav>
      <ul>
      	<li><a href="{{ site.baseurl }}/about/">About</a></li>
      	<li><a href="{{ site.baseurl }}/stories/">Current Stories</a></li>
      	<li><a href="{{ site.baseurl }}/tags/">Tags</a></li>
      </ul>
  </nav>
</header>