<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - HCPSS StoryStrong</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hcpss" />
    <meta name="twitter:url" property="og:url" content="storystrong.hcpss.org{{ page.url }}" />
    <meta name="twitter:title" property="og:title" content="{{ page.title }}" />
    <meta name="twitter:description" property="og:description" value="{{ page.summary }}" />
    <meta name="twitter:image" property="og:image" content="{{ page.image }}" />


    <link rel="stylesheet" type='text/css'
      href="https://s3.amazonaws.com/hcpss.web.site/images/normalize.css">
    <link rel="stylesheet" type='text/css'
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://s3.amazonaws.com/hcpss.web.site/fonts/fira.css" >

    <link rel="stylesheet" href="/story-strong/css/main.css">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>