    <section class="full--stnd-padding full--stnd-padding-flex"> 

    <div class="row">
    	<h2>Related Stories</h2>
    </div>

	  {% assign maxRelated = 4 %}
	  {% assign minCommonTags =  1 %}
	  {% assign maxRelatedCounter = 0 %}

	  {% for post in site.posts %}

	    {% assign sameTagCount = 0 %}
	    {% assign commonTags = '' %}

	    {% for tag in post.tags %}
	      {% if post.url != page.url %}
	        {% assign relatedTag = page.tags[2] %}
	        {% if post.tags contains relatedTag %}
	          {% assign sameTagCount = sameTagCount | plus: 1 %}
	          {% assign commonTags = commonTags | append: tagmarkup %}
	        {% endif %}
	      {% endif %}
	    {% endfor %}

	    {% if sameTagCount >= minCommonTags %}

        <article class="story-tile__related">
          <section class="row">
            <div class="story-tile__img">
              <img src="{{ site.headshot-path }}{{ post.prof-img }}">
            </div>
            <h3>{{ post.title }}</h3>
            <h4>{{ post.author }}</h4>
            <p>{{ post.summary }}</p>
            <div class="btn--sm">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <p>{{ post.btn }}</p>
              </a>
            </div>
          </section>
        </article>

	      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
	      {% if maxRelatedCounter >= maxRelated %}
	        {% break %}
	      {% endif %}
	    {% endif %}
	  {% endfor %}

  	</section>