.heading--center {
	width: 100%;
	margin: 0 auto;
	& h1 {
		text-align: center;
	}
}

.story-tile__img {
  @media screen and (max-width: $x-large) { text-align: center; }
}

.story-tile {
  display: block;
  background-color: $classic-white;
  padding: $stnd-padding;
  @include shadow($prim);
  @media screen and (min-width: $largest) { 
    @include span(2 of 4 split);
    height: em(285px);
    margin: gutter(12);
    padding: gutter(6);
  }
  @media screen and (min-width: $x-large) and (max-width: $largest - 1) {
    @include span(2 of 4 split);
    height: em(340px);  
    margin: gutter(12);
    padding: gutter(6);
  }
  @media screen and (min-width: $large + 30) and (max-width: $x-large - 1) {
    @include span(2 of 4 split);
    height: em(475px);
    margin: gutter(12);
    padding: gutter(6);
  } 
  @media screen and (max-width: $large + 30) { 
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
  & h3 {
    width: 100%;
    @media screen and (min-width: $x-large) { max-width: 70%; }
  }
  & h4 {
    color: $heading--light;
  }
  & img {
    float: none;
    margin: 0 auto;
    background-size: cover;
    border-radius: 100px;
    height: em(150px);
    margin-top: gutter(4);
    @media screen and (min-width: $x-large) {
      float: right;
      margin: gutter(4);
    }
  }
  & .btn--sm { 
    @include button($gray--dark, $classic-white);
    @include shadow($heading--light);
  }  
}

.callout-tile__inner {
  background-color: $classic-white;
  padding: $stnd-padding; 
}