.wrap {
	background-color: $sec;
	margin-top: 0;
}

.prim-contents {
	@include container;
	padding: $stnd-padding;
  @media screen and (min-width: $large) {
    padding-top: 2.4em;
  }
}

.row {
  display: inline-table;
  width: 100%;
  max-height: 100%;
}

.col-8 {
  @include span(12 of 12);
  @media screen and (min-width: $x-large) {
	 @include span(8 of 12);
  }
  @media screen and (min-width: $large) and (max-width: $x-large - 1) {
    @include span(6 of 12);
  }
}

.col-3--last {
  @include span(12 of 12);
  @media screen and (min-width: $x-large) {
	 @include span(4 of 12 last);
  }
  @media screen and (min-width: $large) and (max-width: $x-large - 1) {
    @include span(5 of 12 last);
  }
}