.current-overhang__inner {
  @include overhang-inner($top: 0);
}

.pagination {
  display: block;
  text-align: center;
  font-size: em(20px);
  & span { margin-left: 0.35em; margin-right: 0.35em;}
  & a { color: $link; text-decoration: none; }
  &__arrows { font-size: em(12px); }
}

