footer {
  margin-top: 0em;
  background-color: $classic-white;
  border-top: 5px solid $gray--dark;
  clear: both;
  position: relative;
  height: 100px;
  & img { width: 30px; }
}

.footer__inner {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: em(40px);
  @media screen and (max-width: $small) { margin-top: em(20px);
  }
}

.footer__site-links {
	  & ul {
	  list-style-type: none;
	  	@media screen and (max-width: $small) { float: right; }
		  & li { 
		    display: inline-block;
		    margin-top: 0.2em;
		    margin-right: 1.2em;
		    	@media screen and (max-width: $small) { margin-left: 1.2em; margin-right: 0; }
		    margin-top: 0;
		      & a { text-decoration: none; color:$text; }
		  }
		}
	  @media screen and (min-width: $largest) { 
	    @include span(7 of 12); 
	  }
	  @media screen and (min-width: $large + 1) and (max-width: $largest - 2) { 
	    @include span(5 of 12); 
	  }
	  @media screen and (min-width: $small + 1) and (max-width: $large) { 
	    @include span(6 of 12); 
	  }
	  @media screen and (max-width: $small) {
	    @include span(12 of 12);
    & ul { 
      margin: 0 auto;
    }
	  }
}

.footer__social-media {
	margin-top: 0;
	@media screen and (max-width: $small) { margin-top: 1.2em;
  }
	& ul {
	  list-style-type: none;
	  & li { 
	    display: inline-block;
	    float: right;
	    margin-top: 0.2em;
	    margin-left: 1.2em;
	    margin-top: 0;
	      & a { text-decoration: none; color:$text; }
	  }
	}
  @media screen and (min-width: $largest) { 
    @include span(5 of 12 last); 
  }
  @media screen and (min-width: $large + 1) and (max-width: $largest - 2) {
    @include span(4 of 12 last); 
  }

  @media screen and (max-width: $small) {
    @include span(12 of 12);
    & ul { 
      float: none;
      margin: 0 auto;
    }
  }

}