header {
	@include container;
  padding: 1em;
  @media screen and (max-width: $large) { text-align: center; }
}

.header__logo {
	& img:nth-child(1) {
    max-width: 12%;
  }
  & img:nth-child(2) {
    margin-top: 0;
    @media screen and (max-width: 440px) { 
      width: 70%;
    }
  }
  @media screen and (min-width: $largest) { 
    @include span(5 of 12); 
  }
  @media screen and (min-width: $large + 1) and (max-width: $largest - 2) { 
    @include span(7 of 12); 
  }
  @media screen and (max-width: $large) {
    @include span(12 of 12);
  }
  a { text-decoration: none; }
}

nav {
  & ul {
    list-style-type: none;
    float: right;
    & li { 
      display: block;
      margin-top: 0.2em;
      & a { text-decoration: none; color:$text; }
      @media screen and (min-width: $small) { 
        display: inline-block;
        margin-top: 0;
        margin-left: 1.2em;
      }
    }
  }
  @media screen and (min-width: $largest) { 
    @include span(7 of 12 last); 
  }
  @media screen and (min-width: $large + 1) and (max-width: $largest - 2) { 
    @include span(5 of 12 last); 
  }
  @media screen and (max-width: $large) {
    @include span(12 of 12);
    ul { 
      float: none;
      margin: 0 auto;
    }
  }
}

