.hero-img {
	background: url(/story-strong/img/chs-stock-group.jpg) no-repeat center 0px;
	background-size: cover;
	height: em(400px);
	max-width: 100%;
}	

@media (min-width: $x-small - 20) and (max-width: $small) {
	  .hero-img {
	    background-image: url(/story-strong/img/chs-stock-group-480.jpg);
	    height: em(150px);
	  }
	}
@media (min-width: $small + 1) and (max-width: $medium) {
	  .hero-img {
	    background-image: url(/story-strong/img/chs-stock-group-640.jpg);
	    height: em(250px);
	  }
	}
@media (min-width: $medium + 1) and (max-width: $largest) {
	.hero-img { background-image: url(/story-strong/img/chs-stock-group-1280.jpg); }
}