.section__prim-feature {
	@include container;
  padding: $stnd-padding;
  @media screen and (min-width: $large) {
	 height: em(300px);
   padding: gutter(6);
  }
  & h1 { margin-bottom: 0.2em; margin-top: 0.2em; }
	&--story {
    @include span(12 of 12);
    @media screen and (min-width: $medium) {
      height: em(280px);
		  @include span(8 of 12);
    }
    & article { 
      margin-top: 1em; 
      & .btn--sm { 
        @include button($classic-white, $text);
        @include shadow($heading--light);
      }
    }
	}
}

.section__prim-feature--img {
  float: left;
  height: em(225px);
  width: 100%;
  clear: both;
  text-align: center;
  @media screen and (min-width: $medium) {
    @include span(4 of 12 last);
    clear: none;
  }
  @media screen and (max-width: $medium - 1) { margin-top: 1.8em; }
  & img { 
    border-radius: 100px;
  }
}

.section__sec-feature {
	@include angle(before);
	background-color: $sec;
  & h2 {
    text-align: center;
    padding-top: 0.6em;
    @media screen and (max-width: $large - 1) {
      padding-left: $stnd-padding;
      padding-right: $stnd-padding;
    }
  }
	&--tiles {
    background-color: $sec;
		@include container;
    padding-bottom: 1.2em;
	}
}