// grid

$susy: (
  container: 1280px,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

// font stacks

$font-family--primary: 'Fira Sans', sans-serif;

$font-default: 16px;

// font weights

$font-weight--thin: 100;
$font-weight--light: 200;
$font-weight--medium: 300;
$font-weight--bold: 400;
$font-weight--ultra-bold: 600;

// color names

$geyser: #DFE6E8;
$athens-gray: #F3F5F7;
$dove-gray: #636363;
$classic-white: #FFFFFF;
$tundora: #454545;
$alabaster: #F8F8F8;
$oslo-gray: #95989A;
$atlantic: #326b9a;

// functional colors

$prim: $geyser;
$sec: $athens-gray;
$white: $classic-white;

$heading--dark: $tundora;
$text: $dove-gray;
$heading--light: $oslo-gray;
$btn-text--light: $alabaster;
$gray--dark: $dove-gray;
$link: $atlantic;

// breakpoints 

$x-small: 320px;
$small: 480px;
$medium: 620px;
$large: 768px;
$x-large: 1024px;
$largest: 1220px;

// padding 

$stnd-padding: em(20px);
$dble-padding: em(40px);
