* {
  margin: 0;
  padding: 0;
}

*+* { margin-top: 1.2em; }

body {
	background-color: $prim;
  background: linear-gradient(to right, #DFE6E8, #e4e4e4);
	color: $text;
}

h1 { 
  @media screen and (min-width: $x-large ) { font-size: em(44px); }
  @media (max-width: $x-small + 20) { font-size: em(32px); }
  font-size: em(36px);
  font-weight: $font-weight--bold;
}

h2 { 
  @media screen and (min-width: $x-large ) { font-size: em(30px); }
  font-size: em(24px);
  font-weight: $font-weight--bold;
}

h3 { 
  @media screen and (min-width: $x-large ) { font-size: em(24px); }
  font-size: em(22px);
  font-weight: $font-weight--medium;
}

h4 {
  @media screen and (min-width: $x-large ) { font-size: em(18px); }
  font-weight: $font-weight--light;
}

p { 
  @media screen and (min-width: $medium ) { font-size: em(18px); }
  font-size: $font-default;
}

img { max-width: 100%; }