// Utilities

// calculate em values

@function em($target, $context: $font-default) {
	@return ($target / $context) * 1em;
}

// Mixins

@mixin overhang-inner($top : null, $height : 100vh) {
  position: relative;
  background-color: #F3F5F7;
  top: $top;
  height: $height;
}

@mixin overhang-outer($top : null) {
  position:relative;
  margin-top: $top;  
}

@mixin hero-img ($url : null, $h : em(400px), $sm-h : em(150px), $md-h :  em(250px)) {
  background-image: url($url);
  background-size: cover !important;
  height: $h;
  max-width: 100%;
  @media (min-width: $x-small) and (max-width: $small) { height: $sm-h }
  @media (min-width: $small + 1) and (max-width: $medium) { height: $md-h }
}

@mixin contain ($color, $padding : $stnd-padding) {
  @include container;
  padding: $padding;
  background-color: $color;
}

@mixin shadow ($color) {
  -moz-box-shadow: 0 2px 4px $color;
  -webkit-box-shadow: 0 2px 4px $color;
  box-shadow: 0 2px 4px $color;
}

@mixin button ($bg-color, $txt-color) {
  float: left;
  width: 175px;
  background-color: $bg-color;
  text-align: center;
  border-radius: 10px;
  color: $txt-color;
  & p { 
    font-size: em(16px);
    padding: gutter(4); 
  }
}

@mixin story-tile-image($height : em(150px), $mg-top : gutter(4)) {
  float: none;
  margin: 0 auto;
  background-size: cover;
  border-radius: 100px;
  height: $height;
  margin-top: $mg-top;
}

// Big thanks to Viget for this: https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms
@mixin angle($pseudo, $flip: false, $angle: 1.25deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}