---
layout: default
---

{% if page.bg-img %}
<div class="hero-img--post" style="background: url({{ site.bg-path }}{{ page.bg-img }}) no-repeat center 0px;"></div>
{% endif %}

{% if page.bg-img %}<div class="bg-post__inner-container">{% endif %}

{% include post-summary.html %}

<section class="full--no-mg post-overhang__outer">
  <div class="container--stnd-padding-sec post-overhang__inner">
    <section class="post__content">
      {% include post-tags.html %}
        {% include post-share.html %}
      <article>
  	    {{ content }}
      </article>
    </section>
  {% include post-related.html %}
  </div> 
</section>

{% if page.bg-img %}</div>{% endif %}