---
layout: default
---

<div class="hero-img--post" style="background: url({{ page.bg-img }}) no-repeat center 0px;"></div>

<div class="audio-post__inner-container">
  <section class="container overhang-block">
      <div class="post__summ">
      <div class="post__summ-img">
        <img src="{{ page.prof-img }}">
      </div>
        <h1>{{ page.title }}</h1>
        <h4>{{ page.author }}</h4>
        <p>{{ page.summary }}</p>
      </div>  
  </section>

  <section class="full--no-mg post-overhang__outer">
    <div class="container--stnd-padding-sec post-overhang__inner">
      <section class="post__content">
        <div class="row post__social">
          <span class="twitter-share-button"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}&via={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a></span>
          <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}"><a href="https://facebook.com/sharer/sharer.php?&u=http%3A%2F%2Fstorystrong.hcpss.org{{ page.url }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official" aria-hidden="true" style="margin-right: 2px;"></i> Share</a></div>
        </div>

        <audio controls="controls" src="{{ page.audio-file }}"></audio>

        <h2>Audio Transcript</h2>

    	   {{ content }}
      </section>
    </div> 
  </section>
</div>