---
layout: default
---

<div class="hero-img--post" style="background: url({{ page.bg-img }}) no-repeat center 0px;"></div>

<article>
<div class="audio-post__inner-container">

  {% include post-summary.html %}

  <section class="full--no-mg post-overhang__outer">
    <div class="container--stnd-padding-sec post-overhang__inner">
      <section class="post__content">

      {% include post-tags.html %}

        {% include post-share.html %}

        <audio controls="controls" src="{{ page.audio-file }}"></audio>

        <h2>Audio Transcript</h2>

    	   {{ content }}
         
      </section>
    </div> 
  </section>

</div>
</article>